In [23]:
import pandas as pd
import numpy as np

In [24]:
# read data set
data =pd.read_csv(r"C:\Users\sony\Downloads\archive (2)\housing.csv")
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [25]:
# data columns name 
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [26]:
# version of pandas
pd.__version__

'2.0.2'

In [27]:
# null values sum
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [28]:
# unique value of ocean_proximity column
data["ocean_proximity"].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [29]:
# data which ocean_proximity equal NEAR BAY
nearbay =data[data['ocean_proximity']=='NEAR BAY']
# mean house value which  ocean_proximity equal NEAR BAY
nearbay['median_house_value'].mean()

259212.31179039303

In [30]:
bedMean=data['total_bedrooms'].mean()
bedMean

537.8705525375618

In [31]:
# Fill missing values in 'total_bedrooms' with the mean
data["total_bedrooms"].fillna(bedMean, inplace=True)
missing=data["total_bedrooms"].isnull().sum()
missing

0

In [32]:
data['total_bedrooms'].mean()

537.8705525375617

In [33]:
# select located on islands
island_data = data[data['ocean_proximity'] == 'ISLAND']
# select columns 
selected_columns = island_data[['housing_median_age', 'total_rooms', 'total_bedrooms']]

#make data in array
X = selected_columns.to_numpy()

# calculate x * x transpose
XTX = np.dot(X.T, X)

# calculate the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# create  y array 
y = np.array([950, 1300, 800, 1000, 1300])

# calculate w 
w = np.dot(np.dot(XTX_inv, X.T), y)

# get last value in w
last_w = w[-1]
last_w

5.699229455065586